*{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica,sans-serif;
}
/* COLOR BACK ST */
.grey {
    background-color: darkslategrey;
}
.blue {
    background-color: rgb(39, 151, 189);

}
.white {
    background-color: white;
}
.lightgrey{
    background-color: lightgray;
}
.black {
    background-color: black;
}
/* COLOR BACK END*/
/* NAVBAR Start */
li a{
    list-style: none;
    color: white;
    text-decoration: none;
}
.topnav{
    max-width: 1140px;
    margin: auto;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 16px;
}
.topul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 600px;
    list-style-type: none;
}
.login {
    text-decoration: none;
    color: white;
}

/* NAVBAR END */ 
/* HEADER Start */
.imgperso{
    width: 33%;
}

.textheader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    margin: auto;
    padding: auto;
    font-size: 20px;
    width: 33%;
}
.empty{
    width: 33%;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
/* BUTTON TOP */
.buttop {
    background-color: orange;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 12px;

}

/* HEADER END */
/* MAIN St */
main{
    width: 100%;
    margin: 0;
    padding: 0;
}
.content{
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    max-width: 1140px;
    color: white;
}
.title_for {
    margin: auto;
}
.text {
    width: 50%;
    font-size: 16px;
}
h2 {
    text-align: center;
    margin: 0;
    line-height: 2;
    
}
.title_ino {
    color: lightslategray;
    margin: auto ;
}
.parterns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.sizeparterns {
    display: flex;
    width:  15%;
    margin: 30px;
    padding: 10px;
    font-size: 100px;
}
/* BUTTON BOTTOM */
.buttonbott{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px;
}
.button2{
    background-color: blue;
    padding: 15px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
}
.button3{
    background-color: blue;
    padding: 15px;
    font-size: 20px;
    border: 2px solid white;
    color: white;
    border-radius: 12px;
}
.button4{
    background-color: orange;
    padding: 15px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
}
/*MAIN END*/
/*FOOTER NAV ST */
li a{
    list-style: none;
    color: white;
    text-decoration: none;
}
.bottomnav{
    max-width: 1140px;
    margin: auto;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 16px;
}
.botul {
    margin: 0;
    padding:0;
    display: flex;
    justify-content: space-around;
    width: 600px;
    list-style-type: none;

}
.copyright {
    display: flex;
    align-self: flex-end;
    text-decoration: none;
    color: white;
    padding-left: 300px;
}
/*FOOTER NAV END */